body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333; 
    overflow: 10px, 20px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin-right: 20px; }

.navbar ul li a {
    text-align: center;
    color: white; 
    padding: 14px 20px; 
    text-decoration: none; 
    font-size: 15px;
}

.navbar ul li a:hover {
    background-color: #575757; 
    color: #fff; 
}

.navbar .more {
    display: flex;
    align-items: center;
}

.navbar .more a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #008CBA; /* Blue background for "로그인" */
    border-radius: 5px;
}

/* Hover effect for the "로그인" button */
.navbar .more a:hover {
    background-color: #575757;
}